* year	Year
* month	Month
* date_of_month	Day number of the month
* day_of_week	Day of week, where 1 is Monday and 7 is Sunday
* births	Number of births

In [1]:
f = open("US_births_1994-2003_CDC_NCHS.csv", "r")
lines = f.read().split("\n")
lines[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [2]:
def read_csv(name):
    f = open(name, "r")
    lines = f.read().split("\n")
    f.close()
    final_list = []
    string_list = lines[1:len(lines)]
    for row in string_list:
        int_fields = []
        string_fields = row.split(",")
        for v in string_fields:
            int_fields.append(int(v))
        final_list.append(int_fields)
    return final_list

In [3]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [4]:
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [5]:
def month_births(lol):
    births_per_month = {}
    for row in lol:
        month = row[1]
        bs = row[4]
        if month in births_per_month: 
            births_per_month[month] = births_per_month[month] + bs
        else:
            births_per_month[month] = bs
    return births_per_month

In [8]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [10]:
def dow_births(lol):
    births_per_dow = {}
    for row in lol:
        day = row[3]
        bs = row[4]
        if day in births_per_dow: 
            births_per_dow[day] = births_per_dow[day] + bs
        else:
            births_per_dow[day] = bs
    return births_per_dow

In [12]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [15]:
def calc_counts(data, column):
    ret_dict = {}
    for row in data:
        val = row[column]
        births = row[4]
        if val in ret_dict: 
            ret_dict[val] = ret_dict[val] + births
        else:
            ret_dict[val] = births
    return ret_dict

In [16]:
cdc_month_births = calc_counts(cdc_list, 1)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [18]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [19]:
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [20]:
cdc_dow_births = calc_counts(cdc_list, 3)
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [ ]:
def min(dict):
    vmin = 0
    for key in dict: